html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(#e66465, #9198e5);
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.loader {
  position: fixed;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  top: 44%;
  left: 45%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header-container {
  color: #234a1d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #ffffff;
  height: 50px;
}

.heading-text {
  margin: 10px;
  color: #234a1d;
  font-weight: 700;
}

.table-content {
  color: #5f646b;
  margin: 40px;
  min-height: 530px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

#sampleTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  padding: 40px;
  margin: 20px;
}

#sampleTable td, #sampleTable th {
  padding: 8px;
}

#sampleTable tr:hover {
  background-color: #ddd;
}

#sampleTable td {
  color: #70757c;
}

#sampleTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffffff;
  color: #b4b8bb;
}

/* Styles for wrapping the search box */
.main {
  width: 98%;
}

/* Bootstrap 4 text input with search icon */
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.1rem;
  text-align: center;
  pointer-events: none;
  color: #448a38;
}

input, input:focus {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #bdb9bb !important;
  outline: none !important;
  box-shadow: none !important;
}

.sidebar-nav ul {
  list-style: none;
  color: white;
  /* margin: 0; */
  padding: 0;
}

.sidebar-nav ul li {
  width: 100%;
  padding: 10px 20px;
  margin: 0;
}
.sidebar-nav ul li:hover {
  background-color: #6fc163;
  font-weight: bolder;
}

.sidebaractive {
  background-color: #54b047;
  font-weight: bolder;
}

.brand-name {
  font-size: 40px;
  color: #54b047;
  padding: 10px;
  font-weight: bold;
}

.paginationWrapper {
  background: white;
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.separator {
  width: 1rem;
  margin: 0 0.25rem;
}

.pageItem {
  background: transparent;
  border: none;
  height: 2rem;
  width: 2rem;
  margin: 0 0.25rem;
  border-radius: 50%;
  font-weight: 600;
  color: blue;
}
.pageItem:hover {
  text-decoration: underline;
}
.pageItem:focus {
  outline: 0;
}

.active {
  background-color: blue;
  color: white;
}

.sides {
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.sides:hover {
  text-decoration: none;
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px, rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.paginationRecordContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.1rem;
  margin-right: 37px;
}

/*# sourceMappingURL=index.css.map */
